<table class="table">
    <thead>
    <tr>
        <th class="text-center"><i class="glyphicon glyphicon-user"></i></th>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
        <th>Company</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of userList">
        <td class="text-center"><a [routerLink]="[user.id]"><img [src]="user.profilePic"></a></td>
        <td>{{user.firstName}} {{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address.city}}</td>
        <td>{{user.company.name}}</td>
    </tr>
    </tbody>
</table>